* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: #1F2937;
}

.container {
    max-width: 1000px;
    display: flex;
    padding: 16px;
    margin: auto;
    gap: 16px;
    align-items: center;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

header a {
    font-size: 18px;
    color: #E5E7EB;
}