* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

header, .second, footer {
    background-color: #1F2937;
}

.container {
    max-width: 1000px;
    display: flex;
    padding: 16px;
    margin: auto;
    gap: 16px;
    align-items: center;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

header a, .left p {
    font-size: 18px;
    color: #E5E7EB;
}

.second .container {
    max-width: 1000px;
    height: 500px;
    display: flex;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.image, .left {
    width: 500px;
}

.image {
    height: 300px;
    background-color: gray;
    text-align: center;
}

button {
    background-color: #3882F6;
    padding: 4px 24px;
    margin-top: 10px;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
}

.third .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 500px;
}

.card-list {
    display: flex;
    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    gap: 10px;
}

.card-image {
    height: 150px;
    width: 150px;
    border: solid #3882F6;
    border-radius: 20px;
}

.third h2 {
    margin-top: 30px;
}

.forth {
    background-color: #E5E7EB;
}

.forth .container {
    flex-direction: column;
    width: 800px;
    height: 500px;
    justify-content: center;
}

em {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

span {
    align-self: flex-end;
    font-weight: 600;
    font-size: 20px;
}

.fifth .container {
    height: 400px;
    flex-direction: column;
    justify-content: center;
}

.action-container {
    width: 100%;
    padding: 36px 100px;
    background-color: #3882F6;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}

.action-container h3, .action-container p {
    color: #F9FAF8;
}

.action-container button {
    border: solid #F9FAF8 2px;
}

footer {
    text-align: center;
    color: #E5E7EB;
    padding: 32px;
}